<section data-ng-controller="BlogsController" data-ng-init="findOne()">
	<div class="well">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object blog-img" src="{{blog.url}}">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading" data-ng-bind="blog.name"></h4>
				<small>
					<em class="text-muted">
						Posted on
						<span data-ng-bind="blog.created | date:'mediumDate'"></span>
						by
						<span data-ng-bind="blog.user.displayName"></span>
						under categories:
						<span data-ng-bind="blog.category" class="label label-info"></span>
					</em>
				</small>
			</div>
		</div>
		<br>
		<blockquote>
			<p class="LEAD" data-ng-bind="blog.content"></p>
		</blockquote>
		<div class="pull-right-" data-ng-show="((authentication.user) && (authentication.user._id == blog.user._id))">
			<a class="btn btn-primary" href="/#!/blogs/{{blog._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
    </div>
</section>
